.nav {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    overflow: hidden;
    margin-top: 0%;
    border: 0%;
}

.nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: lightpink;
    color: black;
}

.header {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin-bottom: 0%;
    border: 0%;
}
